[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=\".*\"

# Allow certain single-character variable names
good-names=f,w,h,c,i,j,k,x,y,z,r,g,b,e,assertRaisesRegex, assertRaisesRegexp

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF
